{% extends 'base-admin.html.twig' %}

{% block body %}
    <h1>Planning pour l'entreprise {{ entreprise.societe }} / {{ entreprise.numerostand }}</h1>
    <table class="table">
        <tr>
            <th>Heure</th>
            <th>Etudiant</th>
            <th>Formation</th>
            <th></th>
        </tr>
        {% for cr in creneaux %}
            <tr>
                <td>{{ cr }}</td>
                {% if occupation[cr] is defined and occupation[cr].indisponible == true %}
                    <td colspan="2">Indisponible</td>
                {% else %}
                    <td>{% if occupation[cr] is defined and occupation[cr].etudiant != null %}{{ occupation[cr]
                        .etudiant
                        .display }}{% endif %}</td>
                    <td>{% if occupation[cr] is defined and occupation[cr].etudiant != null %}{{ occupation[cr]
                        .etudiant.diplome.libelle }}{% endif %}</td>
                {% endif %}
                <td><input type="checkbox" {% if occupation[cr] is defined and occupation[cr].indisponible == true
                    %}checked{% endif %} class="indisponible" data-cr="{{ cr }}" data-entreprise="{{ entreprise
                    .id }}" />
                    Indisponible</td>
            </tr>
        {% endfor %}
    </table>
    <div id="ajax-url" data-url="{{ path('ajax_entreprise_indisponible') }}"></div>
{% endblock %}

{% block title %}
    Planning pour l'entreprise {{ entreprise.societe }} / {{ entreprise.numerostand }}
{% endblock %}

{% block javascripts %}

{% endblock %}

