{% extends 'base-admin.html.twig' %}

{% block title %}Entreprise{% endblock %}

{% block body %}
    <h1>Entreprise</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entreprise.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ entreprise.nom }}</td>
            </tr>
            <tr>
                <th>Mail</th>
                <td>{{ entreprise.mail }}</td>
            </tr>
            <tr>
                <th>Telephone</th>
                <td>{{ entreprise.telephone }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('entreprise_index') }}">Retourner à la liste</a>

{% endblock %}
