{% extends 'base.html.twig' %}

{% block content %}
    <h1>Gestion de votre inscription et de vos offres</h1>


    <table class="table">
        <thead>
        <tr>
            <th>Titre</th>
            <th>Entreprise</th>
            <th>Diplôme</th>
            <th>actions</th>
        </tr>
        </thead>
        <tbody>
        {% for offre in representant.entreprise.offres %}
            <tr>
                <td>{{ offre.titre }}</td>
                <td>{{ offre.entreprise ? offre.entreprise.societe : 'Non défini' }}</td>
                <td>{% for diplome in offre.diplomes %}{{ diplome.sigle }}{% if not loop.last %}, {% endif %}{% endfor %}</td>
                <td>
                    <a href="{{ path('offre_show', {'id': offre.id}) }}" class="btn btn-info" title="Détails"><i class="fas fa-eye"></i></a>
                    <a href="{{ path('offre_edit', {'id': offre.id}) }}" class="btn btn-warning" title="Modifier"><i class="fas fa-pencil-alt"></i></a>
                    {{ include('offre/_delete_form.html.twig') }}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('offre_new') }}" class="btn btn-success"><i class="fas fa-plus-circle"></i> Ajouter une offre</a>
{% endblock %}

{% block title %}
    Gestion de votre inscription
{% endblock %}

