{% extends 'base.html.twig' %}

{% block content %}
    <h1>Planning pour l'entreprise {{ entreprise.societe }} / {{ entreprise.numerostand }}</h1>
    <a href="{{ path('professionnel_gestion') }}">Retour à vos offres</a>
    <table class="table">
        <tr>
            <th>Heure</th>
            <th>Etudiant</th>
            <th>Formation</th>
        </tr>
        {% for cr in creneaux %}
            <tr>
                <td>{{ cr }}</td>
                {% if occupation[cr] is defined and occupation[cr].indisponible == true %}
                    <td colspan="2">Indisponible</td>
                {% else %}
                    <td>{% if occupation[cr] is defined and occupation[cr].etudiant != null %}{{ occupation[cr]
                        .etudiant
                        .display }}{% endif %}</td>
                    <td>{% if occupation[cr] is defined and occupation[cr].etudiant != null %}{{ occupation[cr]
                        .etudiant.diplome.libelle }}{% endif %}</td>
                {% endif %}
            </tr>
        {% endfor %}
    </table>
    <a href="{{ path('professionnel_gestion') }}">Retour à vos offres</a>

{% endblock %}

{% block title %}
    Planning pour l'entreprise {{ entreprise.societe }} / {{ entreprise.numerostand }}
{% endblock %}

