<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>
    <link rel="stylesheet" href="{{ asset('build/app.css') }}">
    <style>

    </style>
    {% block stylesheets %}{% endblock %}
</head>
<body>
<div class="container-fluid" style="padding:0px; margin-bottom: 120px">
    <div class="row" style="margin-bottom: 15px">
        <div class="col-sm-4">
            <a href="{{ path('homepage') }}" class="logo"><img src="{{ asset('images/logo.png')
                }}" height="200px"></a>
        </div>
        <div class="col-sm-6">
            <h1 class="display-4 text-center titre">Le 7 février 2019 de 14h00 à 17h30</h1>
        </div>
    </div>

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="{{ path('administration_index') }}">Accueil</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('offre_index') }}">Offres</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('entreprise_index') }}">Entreprises</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('representant_index') }}">Membres Entreprises</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('diplome_index') }}">Diplômes</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('admEtudiant_index') }}">Etudiants</a>
                </li>
            </ul>
            <form class="form-inline my-2 my-lg-0" action="">
                <input class="form-control mr-sm-2" type="search" name="search" placeholder="Search"
                       aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form>
        </div>
    </nav>
    <div>
        {% for flashMessage in app.session.flashbag.get('success') %}
            <div class="alert alert-success">
                {{ flashMessage }}
            </div>
        {% endfor %}

        {% for flashMessage in app.session.flashbag.get('error') %}
            <div class="alert alert-error">
                {{ flashMessage }}
            </div>
        {% endfor %}
<br>
        {% block body %}

        {% endblock %}
    </div>
    <footer class="footer">
        <div class="container">
            <div class="row">
                <div class="col-sm-3" style="padding-top: 15px"><img src="{{ asset('images/logo_iut.jpeg') }}" alt="Logo
                 IUT"
                                                                     height="90px"></div>
                <div class="col-sm-6" style="padding-top: 15px"><p style="text-align: center">Forum IUT-Entreprise | 2019 | IUT de Troyes<br>
                        Votre contact : <a href="mailto:fanny.passemard@univ-reims.fr" style="color:white" target="_blank">Fanny
                            Passemard</a><br>
                        IUT de Troyes, 9 rue de Québec, 10026 Troyes Cedex</p></div>
                <div class="col-sm-3" style="padding-top: 15px"><img src="{{ asset('images/logo_urca.svg') }}"
                                                                     alt="Logo URCA" height="90px"></div>
            </div>
        </div>
    </footer>
</div>
    <script src="{{ asset('build/app.js') }}"></script>

    <script type="text/javascript">
        {% block javascripts %}{% endblock %}
    </script>
</body>
</html>
