{% extends 'base-admin.html.twig' %}

{% block title %}Representant{% endblock %}

{% block body %}
    <h1>Representant</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ representant.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ representant.nom }}</td>
            </tr>
            <tr>
                <th>Prenom</th>
                <td>{{ representant.prenom }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ representant.email }}</td>
            </tr>
            <tr>
                <th>Telephone</th>
                <td>{{ representant.telephone }}</td>
            </tr>
            <tr>
                <th>Fonction</th>
                <td>{{ representant.fonction }}</td>
            </tr>
        </tbody>
    </table>

    <    <a href="{{ path('representant_index') }}">Retourner à la liste</a>

{% endblock %}
