Liste des creneaux disponibles
<br>
<div class="alert alert-info">Seul les 4 premiers créneaux disponibles sont proposés afin d'optimiser les
    plannings des entreprises. Si vous souhaitez un créneau plus tardif, merci de revenir plus tard.</div>
<br>
{% set nb = 0 %}
<form action="#" method="post">
{% for creneau in creneaux if nb < 4 %}
    {% set nb = nb + 1 %}
    <div class="form-check">
        <input class="form-check-input" type="radio" name="creneau" id="creneau{{ loop.index }}" value="{{
        creneau }}">
        <label class="form-check-label" for="creneau{{ loop.index }}">
            {{ creneau }}
        </label>
    </div>
{% endfor %}
    <input type="hidden" value="{{ path('etudiant_ajax_sauvegarde_rdv', {offre:offre.id}) }}" id="urlSave">
</form>
