{% extends 'base.html.twig' %}

{% block title %}Espace Etudiant{% endblock %}

{% block content %}
    {% for flashMessage in app.session.flashbag.get('success') %}
        <div class="alert alert-success">
            {{ flashMessage }}
        </div>
    {% endfor %}

    {% for flashMessage in app.session.flashbag.get('error') %}
        <div class="alert alert-error">
            {{ flashMessage }}
        </div>
    {% endfor %}

    <div class="row">
        <div class="col-sm-12">
            <h2>Les offres disponibles</h2>
            <table class="table">
                <thead>
                <tr>
                    <th>N°</th>
                    <th>Titre</th>
                    <th>Entreprise</th>
                    <th>RDV</th>
                    <th>Diplôme</th>
                    <th>actions</th>
                </tr>
                </thead>
                <tbody>
                {% for offre in offres %}
                    <tr>
                        <td>{{ offre.id }}</td>
                        <td>{{ offre.titre }}</td>
                        <td>{{ offre.entreprise ? offre.entreprise.display : 'Non défini' }}</td>
                        <td>
                            {% for creneau in occupation if creneau.entreprise.id == offre.entreprise.id %}
                             {{ creneau.heure }}
                               {% else %}
                            <button data-toggle="modal" data-target="#modalRdv" data-offre="{{ offre.id }}"
                                    class="btn btn-primary modalRdv">Prendre
                                RDV</button></td>
                        {% endfor %}
                        <td>{% for diplome in offre.diplomes %}{{ diplome.sigle }}{% if not loop.last %}, {% endif %}{% endfor %}</td>
                        <td>
                            <a href="{{ path('etudiant_offre_show', {'offre': offre.id}) }}" class="btn btn-info"
                               title="Détails"><i
                                        class="fas fa-eye"></i></a>
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="4">no records found</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>


    <div class="row">
        <div class="col-sm-12">
            <h2>Candidater pour le jobdating</h2>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">
            <h2>Votre planning</h2>
            <table class="table">
                <tr>
                    <th>Heure</th>
                    <th>Entreprise</th>
                    <th>Stand</th>
                    <th>Salle</th>
                </tr>
                {% for cr in creneaux %}
                    <tr>
                        <td>{{ cr }}</td>
                        <th>{% if occupation[cr] is defined and occupation[cr].entreprise is defined %}{{ occupation[cr]
                            .entreprise
                            .societe }}{% endif %}</th>
                        <th>{% if occupation[cr] is defined and occupation[cr].entreprise is defined %}{{ occupation[cr]
                            .entreprise
                            .numeroStand }}{% endif %}</th>
                        <th>{% if occupation[cr] is defined and occupation[cr].entreprise is defined %}{{ occupation[cr]
                            .entreprise
                            .salle }}{% endif %}</th>
                    </tr>
                {% endfor %}
            </table>
        </div>
    </div>

    <div id="ajax-url" data-url="{{ path('etudiant_ajax_rdv') }}"></div>


    <div class="modal" tabindex="-1" role="dialog" id="modalRdv">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Réserver un créneau pour le JobDating</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body"  id="zoneModal">Créneaux en cours de chargement...
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
                    <button type="button" class="btn btn-primary" id="btnSave" data-dismiss="modal">Enregistrer</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}


